.example-form{
    padding: 50px;
    
}

.mat-tab-group{
    padding-top: 30px;
}

.mat-form-field {
    padding: 10px;
}

table {
    width: 100%;
  }
  
  th {
    text-align: left;
  }

  .table-adaptable {
      padding : 50px;
  }