<h2 mat-dialog-title>Referências Pessoais</h2>
<mat-dialog-content class="mat-typography">
    <form #form="ngForm" class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Tipo de Referência</mat-label>
            <mat-select  [(ngModel)]="cadPersonalReference.personalReference.personalReferenceTypeID" [formControl]="selectTypeReferenceControl" name="selectTypeReference">
                <mat-option *ngFor="let reference of personalReferencesTypes" [value]="reference.id">{{reference.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="selectTypeReferenceControl.hasError('required')">
                O Tipo da Referência é <strong>obrigatório</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Nome Completo</mat-label>
            <input matInput [formControl]="nameControl"  [(ngModel)]="cadPersonalReference.personalReference.name" placeholder="nome">
            <mat-error *ngIf="nameControl.hasError('required')">
                Nome é <strong>obrigatório</strong>
              </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Telefone</mat-label>
            <input matInput [formControl]="telephoneControl"  [(ngModel)]="cadPersonalReference.personalReference.telephone" placeholder="(00) 00000-0000">
            <mat-error *ngIf="telephoneControl.hasError('required')">
                Telefone é <strong>obrigatório</strong>
              </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button [mat-dialog-close]="true" [disabled]="selectTypeReferenceControl.invalid || nameControl.invalid || telephoneControl.invalid"  cdkFocusInitial (click)="onSubmit()">Salvar</button>
  </mat-dialog-actions>